Sandbox/
**/input.txt
Tools/Python/test.txt
src/Golf/
**/.DS_Store
**/__pycache__/
python-0.9.1/

elm-stuff/
node_modules/
.clj-kondo/
.lsp/

**/*.beam
**/*.ez
**/build
**/erl_crash.dump

**/debug
**/target

